[unit]
Description=Start wifi on boot

[Service]
Type=idle
RemainAfterExit=yes
StandardOutput=syslog
Environment=WIFI_CONFIG=/etc/wpa_supplicant/wifi_networks
Environment=WIFI_CARD=wlp3s0
ExecStart=/usr/local/bin/net wifi connect

[Install]
WantedBy=multi-user.target
